process {
    memory = '100 GB'
    time = '1d'

    withName: 'CHROMAP_ALIGN' {
        cpus = 12
        publishDir = [ path: 'out/chromap', mode: 'copy' ]
    }
    withName: 'YAHS_SCAFFOLD' { publishDir = [ path: 'out/scaffolds', mode: 'copy' ] }
    withName: 'JUICER_PRE' { publishDir = [ path: 'out/juicebox_input', mode: 'copy' ] }
    withName: 'PRINT_VERSIONS' { publishDir = [ path: 'out/', mode: 'copy' ] }
    withName: 'ASSEMBLY_STATS' { publishDir = [ path: 'out/scaffolds', mode: 'copy' ] }
}

profiles {
    hellbender {
        process {
            executor = 'slurm'
            queue = 'general,warrenwc-lab'
            clusterOptions = '--account=warrenwc-lab'
            conda = '/mnt/pixstor/data/esrbhb/miniforge3/envs/hic-scaffolding-nf'
        }
        
        conda.enabled = true

        params {
            juicerToolsJar = '/mnt/pixstor/data/esrbhb/software/hic_tools.3.30.00.jar'
        }
    }

    conda {
        process.conda = "$baseDir/conda.yml"
        conda.enabled = true
    }
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/hic-scaffolding-nf'
    author = 'Edward S. Ricemeyer'
    version = '0.0.1'
}
